/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	background: #2b82c9 url(../images/bg.jpg) bottom repeat-x;
}

body.add {
	background: #2b82c9;
}

body.noadd {
	background: #2b82c9 url(../images/bg.jpg) bottom repeat-x;
}

body, html {
	height: 100%;
}

a img, a {
	border: none;
}

.maincontent {
	height: 100%;
	min-height: 800px;
	width: 720px;
	margin: 0 auto;
	text-align: center;
}

.fire {
	height: 526px;
	width: 187px;
	margin: 0 auto;
}

.firemove {
	height: 100px;
}

.fire .con {
	height: 426px;
	width: 187px;
	position: relative;
	top: 0;
	opacity: 1;
	background: url(../images/fire.png) bottom no-repeat;
	_background: url(../images/fire.jpg) bottom no-repeat;
	background-position: 0 0;
}

.fire .conadd {
	background-position: -187px 0;
}

.back {
	font-size: 18px;
	font-family: '黑体';
	text-align: center;
	color: #FFF;
}

.back span {
	font-weight: bold;
	font-size: 48px;
	color: #fff500;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	left: -10px;
	bottom: -12px;
}

.tip {
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding-top: 15px;
	font-family: '黑体';
}