<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
<title>微信支付</title>
</head>
<style type="text/css">

body {
	/*text-align: center;*/
	font-size: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:'Microsoft YaHei';
	background:#fdfdfd;
	width:100%;
	min-height:100%;
	overflow:scroll;
}
a.chekpoint, input, a img, div, * {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 999999px;
}
	.wapcon{ padding-top:80px; text-align: center; width: 100%}
	.wapcon img{width:35%; margin-bottom:40px}
	h1,h2{font-size: 14px; line-height: 25px; display: block; width: 70%; margin: 0 auto; text-align:left; color: #999; font-weight: normal;}
	h1{color:#00c800; font-size: 18px; padding-bottom: 25px; font-weight: bold; text-align: center}
	h2{padding-bottom:30px}
	.paybtn{border-radius:5px; width: 70%; margin: 20px auto; padding: 6px 0; background: #00c800; border: 2px solid #00c800; font-size: 18px; color: #fff;}
	.paybtn.cur{ background: #fff; color: #00c800}
</style>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript">
$().ready(function() {
	try {
		// 初始化参数
		var base = new Base64();
		var urlParam = JSON.parse(base.decode(GetQueryString("urlParam")));
		var mobileWebUrl = urlParam.mobileWebUrl;
		var returnUrl = urlParam.returnUrl;
		var queryUrl = urlParam.queryUrl;
		var redirectUrl = urlParam.redirectUrl;
		redirectUrl = encodeURIComponent(redirectUrl + "?urlParam=" + base.encode(JSON.stringify(urlParam)));
		mobileWebUrl = mobileWebUrl + "&redirect_url=" + redirectUrl;
		
		// 判断空值
		if(mobileWebUrl == null || returnUrl == null){
			// 跳转错误页
			window.location.href = "error_wap_page.html?errorMsg=微信支付参数无效。";
		}
		
		// 初始化查询支付结果
		queryResult(queryUrl, returnUrl, mobileWebUrl, true);
		
		$("#payBtn").click(function() {
			window.location.href = mobileWebUrl;
		})

		$("#finishBtn").click(function() {
			queryResult(queryUrl, returnUrl, mobileWebUrl, false);
		})
	
	} catch (e) {
		// 跳转错误页
		window.location.href = "error_wap_page.html?errorMsg=微信支付处理异常。";
	}
});

function queryResult(qurl, rurl, murl, isFirst) {
	$.ajax({
		url: qurl,
		type: "POST",
		dataType: "json",
		cache: false,
		success: function(data) {
			if (data.status) {
				window.location.href = rurl +"?"+ data.param;
			} else {
				if(isFirst){
					window.location.href = murl;
				}
				else{
					window.location.href = "error_wap_page.html?errorMsg=微信支付尚未完成，请重新支付。";
				}
			}
		}
	});
}

function GetQueryString(name)
{
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  decodeURIComponent(r[2]); return null;
}

function Base64() {  
	   
    // private property  
    _keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";  
   
    // public method for encoding  
    this.encode = function (input) {  
        var output = "";  
        var chr1, chr2, chr3, enc1, enc2, enc3, enc4;  
        var i = 0;  
        input = _utf8_encode(input);  
        while (i < input.length) {  
            chr1 = input.charCodeAt(i++);  
            chr2 = input.charCodeAt(i++);  
            chr3 = input.charCodeAt(i++);  
            enc1 = chr1 >> 2;  
            enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);  
            enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);  
            enc4 = chr3 & 63;  
            if (isNaN(chr2)) {  
                enc3 = enc4 = 64;  
            } else if (isNaN(chr3)) {  
                enc4 = 64;  
            }  
            output = output +  
            _keyStr.charAt(enc1) + _keyStr.charAt(enc2) +  
            _keyStr.charAt(enc3) + _keyStr.charAt(enc4);  
        }  
        return output;  
    }  
   
    // public method for decoding  
    this.decode = function (input) {  
        var output = "";  
        var chr1, chr2, chr3;  
        var enc1, enc2, enc3, enc4;  
        var i = 0;  
        input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");  
        while (i < input.length) {  
            enc1 = _keyStr.indexOf(input.charAt(i++));  
            enc2 = _keyStr.indexOf(input.charAt(i++));  
            enc3 = _keyStr.indexOf(input.charAt(i++));  
            enc4 = _keyStr.indexOf(input.charAt(i++));  
            chr1 = (enc1 << 2) | (enc2 >> 4);  
            chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);  
            chr3 = ((enc3 & 3) << 6) | enc4;  
            output = output + String.fromCharCode(chr1);  
            if (enc3 != 64) {  
                output = output + String.fromCharCode(chr2);  
            }  
            if (enc4 != 64) {  
                output = output + String.fromCharCode(chr3);  
            }  
        }  
        output = _utf8_decode(output);  
        return output;  
    }  
   
    // private method for UTF-8 encoding  
    _utf8_encode = function (string) {  
        string = string.replace(/\r\n/g,"\n");  
        var utftext = "";  
        for (var n = 0; n < string.length; n++) {  
            var c = string.charCodeAt(n);  
            if (c < 128) {  
                utftext += String.fromCharCode(c);  
            } else if((c > 127) && (c < 2048)) {  
                utftext += String.fromCharCode((c >> 6) | 192);  
                utftext += String.fromCharCode((c & 63) | 128);  
            } else {  
                utftext += String.fromCharCode((c >> 12) | 224);  
                utftext += String.fromCharCode(((c >> 6) & 63) | 128);  
                utftext += String.fromCharCode((c & 63) | 128);  
            }  
   
        }  
        return utftext;  
    }  
   
    // private method for UTF-8 decoding  
    _utf8_decode = function (utftext) {  
        var string = "";  
        var i = 0;  
        var c = c1 = c2 = 0;  
        while ( i < utftext.length ) {  
            c = utftext.charCodeAt(i);  
            if (c < 128) {  
                string += String.fromCharCode(c);  
                i++;  
            } else if((c > 191) && (c < 224)) {  
                c2 = utftext.charCodeAt(i+1);  
                string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));  
                i += 2;  
            } else {  
                c2 = utftext.charCodeAt(i+1);  
                c3 = utftext.charCodeAt(i+2);  
                string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));  
                i += 3;  
            }  
        }  
        return string;  
    }  
}  

</script>
<body>
<div class="wapcon">
	<img src="../img/WePayLogo.png" /><br>
    <h1>微信支付正在处理您的订单</h1>
    <h2>1、如果微信未启动，或者未支付成功，请再次点击“继续支付”；<br>2、如果您已完成支付，请点击“支付完成”。</h2>
    <div id="payBtn" class="paybtn">继续支付</div>
    <div id="finishBtn" class="paybtn cur">支付完成</div>
</div>
</body>
</html>
